{% load static %}
{% if request.user.is_authenticated %}
{% if perms.app.cliente_user %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style-beta.css' %}">
</head>

<body class="body-index">

    <div class="index-cad">
        <div class="index-cad-pt1">
            <hr>
            <h2>Altere sua senha</h2>
            <hr>
        </div>
        <div class="formulario_cadastro">
            <div class="imagem-cad">
                <img src="../static/images/codicon--account.png" alt="">
                <hr>
            </div>
            <form name="form-users" id="formUsers" method="post" action="/password/">
                {% if msg %}
                    <div class="alert {{class}}">
                        {{msg}}
                    </div>
                {% endif %}
                {% csrf_token %}
                <div class="password-form-cad">
                    <h2>Senha</h2>
                    <input type="password" minlength="8" maxlength="16" name="password" id="password" required>
                </div>
                <div class="button-form-cad">
                    <input type="submit" value="Alterar">
                </div>
            </form>
            <div class="return">
                <a href="/dashboard/"><button type="submit">VOLTAR</button></a>
            </div>
            {% if perms.admin.admin_user %}
            <div class="return">
                <a href="/dashboard/admin/"><button type="submit">VOLTAR PARA O PAINEL ADMIN</button></a>
            </div>
            {% endif %}
        </div>
    </div>
    
</body>


</html>

{% else %}
<link rel="stylesheet" href="{% static 'css/acesso.css' %}">
<div class="acesso-negado">
    <div class="acesso-negado-conteudo">
        <img src="../../static/images/ri--alert-fill.png" alt="">
        <h1>ACESSO NEGADO</h1>
        <span>Você está sem acesso nessa pagina</span>
        <div class="return">
            <a href="/dashboard/"><button type="submit">VOLTAR PARA PAGINA DE LOGIN</button></a>
        </div>
    </div>
</div>
{% endif %}
{% endif %}