{% load static %}
{% if request.user.is_authenticated %}
{% if perms.app.cliente_user %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style-beta.css' %}">
    <link rel="stylesheet" href="../../../static/css/style-beta.css">
</head>

<body class="body-index">

    <div class="index-cad">
        <div class="index-cad-pt1">
            <hr>
            <h2>Cadastre um novo serviço</h2>
            <hr>
        </div>
        <div class="view-services">
            <table>
                <tr class="table-principal">
                    <th colspan="4">Usuarios cadastrados</th>
                </tr>
                <tr class="services-conteudo">
                    <th> username </th>
                    <th> Nome </th>
                    <th> CPF </th>
                    <th> E-mail </th>
                    </tr>
                {% for view in verifica_users %}
                <tr class="services-conteudo">
                    <th> {{view.username}}</th>
                    <th> {{ view.first_name }} {{ view.last_name }} </th>
                    <th> {{view.cpf_usuario}}</th>
                    <th> {{view.email}}</th>
                </tr>
                {% endfor %}
            </table>
            <div class="return">
                <a href="/dashboard/admin/"><button type="submit">VOLTAR PARA O PAINEL ADMIN</button></a>
            </div>
        </div>
    </div>
    
</body>
</html>

{% endif %}
{% else %}
<link rel="stylesheet" href="{% static 'css/acesso.css' %}">
<div class="acesso-negado">
    <div class="acesso-negado-conteudo">
        <img src="../../static/images/ri--alert-fill.png" alt="">
        <h1>ACESSO NEGADO</h1>
        <span>Você está sem acesso nessa pagina</span>
        <div class="return">
            <a href="/login/"><button type="submit">VOLTAR PARA PAGINA DE LOGIN</button></a>
        </div>
    </div>
</div>
{% endif %}